.judul {
  margin-top: 2.5rem;
}
.judul h5 {
  font-family: PatrickDowload;
  font-size: 70px;
  text-align: center;
  color: #E94455;
  letter-spacing: 4px;
}
.loker-list {
  background: #FEFFEA;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-out;
}
.loker-list .loker-judul p {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  color: #2EB872;
  font-family: RubikDowload;
}
.loker-list .loker-keterangan {
  border-left: 2px solid #D2D1D1;
  padding: 1.7rem 2rem;
}
.loker-list .loker-keterangan p {
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 300 !important;
}
.loker-list .loker-btn {
  text-align: center;
}
.loker-list .loker-btn .btn-create {
  background: #1784E3;
  box-shadow: 0 0 15px 0 rgba(1, 86, 255, 0.5);
  padding: 0.25rem 2.2rem;
  color: white;
  font-size: 0.8rem;
}
.loker-list:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 998px) {
  .loker-list {
    padding-right: 30px;
  }
  .loker-list .loker-judul p {
    margin-bottom: 8px;
    font-size: 1.3rem;
    color: #2EB872;
  }
  .loker-list .loker-keterangan {
    padding: 1.7rem 2rem;
  }
  .loker-list .loker-keterangan p {
    margin-bottom: 8px;
  }
  .loker-list .loker-btn {
    text-align: center;
  }
  .loker-list .loker-btn .btn-create {
    background: #1784E3;
    box-shadow: 0 0 15px 0 rgba(1, 86, 255, 0.5);
    padding: 0.25rem 2.2rem;
    color: white;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 767px) {
  .loker-list {
    padding-right: 0;
  }
  .loker-list .loker-judul p {
    padding-top: 1.2rem;
  }
  .loker-list .loker-keterangan {
    border-left: none;
    padding: 1rem 2rem;
    margin-bottom: 20px;
  }
  .loker-list .loker-keterangan p {
    margin-bottom: 8px;
  }
  .loker-list .loker-btn {
    padding-bottom: 1.3rem;
  }
  .loker-list .loker-btn .btn-create {
    box-shadow: 0 0 15px 0 rgba(1, 86, 255, 0.5);
    padding: 0.25rem 2.2rem;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 574px) {
  .loker {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 480px) {
  .judul h5 {
    font-family: PatrickDowload;
    font-size: 50px;
  }
  .loker-list {
    padding-top: -20px;
    padding-right: 0;
  }
  .loker-list .loker-judul p {
    font-size: 1.3rem;
    color: #2EB872;
  }
  .loker-list .loker-keterangan {
    text-align: center;
  }
  .loker-list .loker-keterangan p {
    font-size: 0.9rem;
  }
  .loker-list .loker-btn .btn-create {
    font-size: 0.8rem;
  }
}