@page "/buatPassword"

@inherits BuatPasswordCompBase

<section>
    <div class="container-lg">
        <div class="row justify-content-md-center">
            <div class="col-lg-5 col-md-6">
                <div class="create">
                    <div class="card-body">
                        <h2 class="card-title">Create Password</h2>
                        <EditForm EditContext="editContext"
                                  OnSubmit="save">
                            <DataAnnotationsValidator />
                                <div class=" dx-fieldset row g-3 ">
                                    <div class="col-md-12 ">
                                        <div class="dx-field">
                                            <label class="form-label">Email</label>
                                            <DxMaskedInput @bind-Value="@PasswordBaruResoruce.Email"
                                                           BindValueMode="BindValueMode.OnInput"
                                                           NullText="Alamat Email"
                                                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                            </DxMaskedInput>
                                            <ValidationMessage For="@(() => PasswordBaruResoruce.Email)" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="dx-field">
                                            <label class="form-label">Password</label>
                                            <DxTextBox @bind-Text="@PasswordBaruResoruce.Password"
                                                       BindValueMode="BindValueMode.OnInput"
                                                       NullText="Password"
                                                       Password="true"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                            <ValidationMessage For="@(() => PasswordBaruResoruce.Password)" />
                                        </div>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-create" type="submit">
                                            @if (spin)
                                            {
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            }
                                            Save
                                        </button>
                                    </div>
                                </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>