@page "/gantiPassword"

@inherits GantiPasswordCompBase

<section>
    <div class="container-lg">
        <div class="row justify-content-md-center">
            <div class="col-lg-5 col-md-6">
                <div class="create">
                    <div class="card-body">
                        <h2 class="card-title">Update Password</h2>
                        <form action="">
                            <div class="dx-fieldset row g-3">
                                <div class="col-md-12">
                                    <div class="dx-field">
                                        <label class="form-label">Password Lama</label>
                                        <DxMaskedInput @bind-Value="@passwordLama"
                                                       BindValueMode="BindValueMode.OnInput"
                                                       NullText="Enter Password"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                        </DxMaskedInput>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="dx-field">
                                        <label class="form-label">Password Baru</label>
                                        <DxTextBox @bind-Text="@passwordBaru"
                                                   BindValueMode="BindValueMode.OnInput"
                                                   NullText="Enter Password Baru"
                                                   Password="true"
                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="dx-field">
                                        <label class="form-label">Password Confirm</label>
                                        <DxTextBox @bind-Text="@passwordConfirm"
                                                   BindValueMode="BindValueMode.OnInput"
                                                   NullText="Enter Password Confirm"
                                                   Password="true"
                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                    </div>
                                </div>
                                <div class="d-grid gap-2 ">
                                    <button class="btn btn-primary" type="button" @onclick="submit">
                                        @*<span *ngIf="spin " class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>*@
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                        @if (!string.IsNullOrEmpty(message))
                        {
                            <div class="position-relative bottom-0 start-50 translate-middle-x p-3">
                                <div class="toast hide align-items-center text-white bg-info border-0" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="d-flex w-100">
                                        <div class="toast-body">
                                            @message
                                        </div>
                                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
             
                </div>
            </div>
  
        </div>
    </div>
</section>