@page "/gantiPassword"

@inherits GantiPasswordCompBase

<section>
    <div class="container-lg">
        <div class="row justify-content-md-center">
            <div class="col-lg-5 col-md-6">
                <div class="create">
                    <div class="card-body">
                        <h2 class="card-title">Update Password</h2>
                        <form action="">
                            <div class="dx-fieldset row g-3">
                                <div class="col-md-12">
                                    <div class="dx-field">
                                        <label class="form-label">Password Lama</label>
                                        <DxMaskedInput @bind-Value="@passwordLama"
                                                       BindValueMode="BindValueMode.OnInput"
                                                       NullText="Enter Password"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                        </DxMaskedInput>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="dx-field">
                                        <label class="form-label">Password Baru</label>
                                        <DxTextBox @bind-Text="@passwordBaru"
                                                   BindValueMode="BindValueMode.OnInput"
                                                   NullText="Enter Password Baru"
                                                   Password="true"
                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="dx-field">
                                        <label class="form-label">Password Confirm</label>
                                        <DxTextBox @bind-Text="@passwordConfirm"
                                                   BindValueMode="BindValueMode.OnInput"
                                                   NullText="Enter Password Confirm"
                                                   Password="true"
                                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                                    </div>
                                </div>
                                <div class="d-grid gap-2 ">
                                    <button class="btn btn-primary" type="button" @onclick="submit">
                                        @if (spin)
                                        {
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        }
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>