@page "/login"
@inherits LoginCompBase
@layout LoginLayout

<div class="container full-height">
    <div class="row justify-content-md-center align-items-center h-100">
        <div class="col-12">
            <div class="card card-login mx-auto">
                <div class="card-body">
                    <div class="card-title">
                        <img src="asset/image/faviconLogo.png" alt="">
                    </div>
                    <form action="">
                        <EditForm EditContext="editContext"
                                  OnSubmit="loginAsync">
                            <DataAnnotationsValidator />
                            <div class="dx-fieldset">
                                <div class="dx-field">
                                    <div class="dx-field-value">
                                        <label class="form-label">Email address</label>
                                        <DxMaskedInput @bind-Value="@UserLoginResource.Email"
                                                       BindValueMode="BindValueMode.OnInput"
                                                       NullText="Alamat Email"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                        </DxMaskedInput>
                                        <ValidationMessage For="@(() => UserLoginResource.Email)" />
                                    </div>
                                </div>
                                <div class="dx-field">
                                    <div class="dx-field-value">
                                        <label class="form-label d-flex">
                                            Password
                                            <span class="me-auto"></span>
                                            <span class="">
                                                <a class="lupaPassword" @onclick="goRequestOtp">Lupa Password ?</a>
                                            </span>
                                        </label>
                                        <div style="position: relative;">
                                            <span class="myIcon" @onclick="(e) => showPassword = !showPassword">
                                                <span class="oi oi-eye"></span>
                                            </span>
                                            <DxTextBox @bind-Text="@UserLoginResource.Password"
                                                       BindValueMode="BindValueMode.OnInput"
                                                       NullText="Password"
                                                       Password="true"
                                                       CssClass="PasswordTextBox">
                                            </DxTextBox>
                                        </div>
                                        <ValidationMessage For="@(() => UserLoginResource.Password)" />
                                    </div>
                                </div>
                            </div>
                            <div class="card card-akun">
                                <div class="card-body">
                                    Buat Akun? <a class="register" @onclick="goRegister">Register</a>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">
                                    @if (spin)
                                    {
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    }                    
                                    Log In
                                </button>
                            </div>
                            <div class="navHome">
                                <NavLink href="/">
                                    Back To Home
                                </NavLink>
                            </div>
                        </EditForm>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


