@page "/requestOtp"

@inherits RequestOtpResetPasswordCompBase

<section>

    <div class="container-lg">
        <div class="row justify-content-md-center">
            <div class="col-lg-5 col-md-6">
                <div class="lp-pw">
                    <div class="card-body">
                        <h2 class="card-title">Reset Password</h2>
                        <form action="">
                            <div class=" dx-fieldset row g-3">
                                <div class="col-md-12">
                                    <div class="dx-field">
                                        <label class="form-label">Email</label>
                                        <DxMaskedInput @bind-Value="@Email"
                                                       BindValueMode="BindValueMode.OnInput"
                                                       NullText="Alamat Email"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                        </DxMaskedInput>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div class="dx-field">
                                        <label class="form-label">No Telepon</label>
                                        <DxMaskedInput @bind-Value="@NoTelepon"
                                                       BindValueMode="BindValueMode.OnInput"
                                                       Mask="###############"
                                                       NullText="No Tlpn"
                                                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                                            <DxTextMaskProperties Placeholder="maskChar" SaveLiteral="true" />
                                        </DxMaskedInput>
                                    </div>
                                </div>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-create" type="button" @onclick="submitReq"  @onclick:preventDefault="true" >
                                        @if (spin)
                                        {
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        }
                                        Lanjutkan
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>