<footer>
    <div class="container-fluid">
        <div class="row justify-content-md-center text-white">
            <div class="col-md-4">
                <div class="icon d-flex justify-content-evenly">
                    <!-- <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="material-icons close">facebook</i> -->
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center ">
            <div class="col-md-6">
                <div class="text-footer">
                    <p> © 2021 Create by BogorStudio </p>
                </div>
            </div>
        </div>
    </div>
</footer>
@code {

}
