@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@
    <div class="main">
        <NavHeader />
        <div class="pembatas">
            @Body
        </div>
        <div>
            <FooterLayout />
        </div>
    </div>
</div>
