
@page "/kriteria/{idLoker:int}"

<h3>KriteriaPages @IdLoker</h3>

@Lokers.JudulLowongan
<br />
<br />
@Lokers.Keterangan
<br />
<br />

<ul>
    @foreach (var item in kriteriaResc)
    {
    <li>@item</li>
    }
</ul>
