@page "/"
@inherits IndexBase


<h1>Hello, world!</h1>

Welcome to your new app.


<br />

@foreach (var item in listMotivasi)
{
    <p>@item.Kalimat</p>
}

<SurveyPrompt Title="How is Blazor working for you?" />

<img width="300px" height="100%" src="data:image/png;base64,@gambar" />

