@page "/"
@inherits IndexBase


@*@foreach (var item in listMotivasi)
{
    <p>@item.Kalimat</p>
}*@


@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@*<img width="300px" height="100%" src="data:image/png;base64,@gambar" />*@

<BlazorWasmLoker.Pages.LokerPages.LokerComp />

